<h3>New Article</h3>

<div class="row">
  <div class="mx-5 col-12">
    <%= form_with model: @article do |form| %>
      <%= render "form", form: form, article: @article %>

      <div>
        <%= form.submit class: 'btn btn-success' %>
        <a class="btn btn-secondary" href="<%= root_path %>">Cancel</a>
      </div>

  <% end %>
  </div>
</div>